<meta charset="UTF-8">
<title>Book&Party</title>
<%- include('../pages/style')%>
<!--Link home-->
<div style="text-align: center;">
    <table style="margin: 0 auto; font-size: 110%;">
      <tr>
        <td style="min-width: 160px;">
          <b><a href="/home" style="color:purple;text-decoration: none;">Homepage</a></b>
        </td>
        <td style="min-width: 120px;">
          <a href="/profiloUtente" style="color:purple;text-decoration: none;"><b>Profilo</b></a>
        </td>
        <% if(isGestoreGlobale == 1 || isGestoreGlobale==0){%>
        <td style="min-width: 200px;">
          <a href="/elencopre" style="color:purple;text-decoration: none;"><b>Prenotazioni effettuate</b></a>
        </td>
        <%}%>
        <% if(isGestoreGlobale == 1){%>
          <td style="min-width: 150px;">
            <a href="/locali" style="color:purple;text-decoration: none;"><b>Gestione locali</b></a>
          </td>
        <% } %>
      </tr>
    </table>
  </div>
<!---->
