<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
  <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container">
        <h1>Aggiungi Tipologia</h1>
        <form action="/aggiungiServizio" method="POST">
            <input type="hidden" class="form-control" id="id_tipologia" name="id_tipologia" value="<%=id_tipologia %>">
            <div class="form-group">
                <label for="tipoServizio">Tipo servizio</label>
                <input type="text" class="form-control" id="tipoServizio" 
                    placeholder="Inserisci il tipo di servizio" name="tipoServizio">
            </div>
            <div class="form-group">
                <label for="prezzoServizio">Prezzo servizio</label>
                <input type="text" class="form-control" id="prezzoServizio" 
                    placeholder="Inserisci il prezzo del servizio" name="prezzoServizio">
            </div>
            <button type="submit" class="btn btn-primary">Aggiungi</button>
        </form>
  <script src="scriptForm.js"></script>
</body>

</html>