<!DOCTYPE html>
<html lang="en">


<body class="center">

    <main>
                    <h1 class="h1">PRENOTAZIONI</h1>
                    <%- include('../partials/head'); %>
                    <%- include("tablePrenotazioneSpec", {prenotazione}); %>

    </main>


</body>

</html>