<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body class="center">
    <h1 class="h1">LOCALI</h1>
    <%- include('../partials/head'); %>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="well">
                    
                    <%- include("tabellaLocali", {locali}); %>
                </div>
            </div>
        </div>
    </main>
    <script>
      function idLocale(id_locale){
        url = '/modificaLocale?id='.concat(id_locale)
        document.location.href=url;
      }
    </script>
</body>

</html>