<!DOCTYPE html>
<html lang="en">


<body class="container">
    
    <h1 class="h1">INFORMAZIONI</h1>
  <header>
        <%- include('../partials/head'); %>
    </header>

    <main>
        <div class="container">
        <form action="/gestioneAccountLocale/aggiorna" method="POST">
            <div style="padding-top: 1.4%;" class="form-group">
                <label for="firstName">Nome</label><br>
                <input type="text" class="b" style="width: 40%;" id="firstName" 
                    placeholder="Inserisci il Nome" name="nome" value="<%=utente[0].nome_locale %>">
            </div>
            <div style="padding-top: 1.4%;" class="form-group">
                <label for="exampleInputEmail1">Email</label><br>
                <input type="email" class="b" style="width: 40%;" id="exampleInputEmail1" 
                    name="email" placeholder="Inserisci Indirizzo Email" value="<%=utente[0].email %>">
            </div>
            <div style="padding-top: 1.4%;" class="form-group">
                <label for="exampleInputNumeroTelefono">Numero di telefono</label><br>
                <input type="text" class="b" style="width: 40%;" id="exampleInputNumeroTelefono" 
                    name="telefono" placeholder="Inserisci Numero di telefono" value="<%=utente[0].numero_telefono %>">
            </div><br>
            <button type="submit" class="bottone">Aggiorna</button>
        </form>
    </main>

</body>

</html>