<!DOCTYPE html>
<html>
    <head>
        <%- include('style'); %>
        <script src="../../server.js"></script>
        <p class="h1">Benvenuto <%=nome%></p>
    </head>
    <body>
        <br>
        <a href="ric">ricerca</a>
    </body>
</html>
