<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('style'); %>
</head>

<body style="text-align: center;">   

    <h1 class="h1">RICERCA</h1>

    
    <!--Link home-->
    <div style="text-align: center;">
    <table style="margin: 0 auto; font-size: 80%;">
      <tr>
        <td style="min-width: 160px;">
          <b><a href="/home" style="color:purple;text-decoration: none;">Homepage</a></b>
        </td>
        <td style="min-width: 120px;">
          <a href="/profiloUtente" style="color:purple;text-decoration: none;"><b>Profilo</b></a>
        </td>
        <td style="min-width: 290px;">
          <a href="/elencopre" style="color:purple;text-decoration: none;"><b>Prenotazioni effettuate</b></a>
        </td>
        <% if(isGestore == 1){%>
          <td style="min-width: 150px;">
            <a href="/locali" style="color:purple;text-decoration: none;"><b>Gestione locali</b></a>
          </td>
        <% } %>
      </tr>
    </table>
  </div>
<!---->

    <br>
    <table class="a" style="border: none">
      <form method="get" action="/ricerca">
          <div>
              <tr>
                  <td>
                    <input style="width: 70%;" class="b" type="text" id="città" name="città" placeholder="città">    
                  </td>
                  <td>
                    <input style="width: 90%;" class="b" type="date" id="data" name="data" value="data" >
                  </td>
                  <td>
                    <input style="width: 70%;" class="b" type="number" id="np" name="np" value="np" placeholder="numero di persone">
                  </td>
              </tr>
          </div>
                    
          <div>
            <tr>
              <td>
                  
              </td>
                  <td>
                      <button type="submit" style="width: 50%; height: 70%;" class="bottone">RICERCA</button>
                  </td>
                <td>
                    
                </td>
            </tr>
          </div>            
      </form>
    </table>
    
</body>

</html>