<!DOCTYPE html>
<html>
    <head>
        <script src="../../server.js"></script>
        <h1>Benvenuto <%=nome%></h1>
    </head>
    <body>
        <a href="ric">ricerca</a>
    </body>
</html>
