<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <!-- <div class="container">
      <button class="btn btn-primary" onclick="stampaUtenti()">Leggi</button>
      <a class="nav-link" href="/api/utenti">Leggi</a>
    </div>
    <div class="container">
      <form action="/api/utenti">
        <input type="submit" value="Leggi"></input>
      </form>
    </div> -->
    <header>
        <%- include('../partials/header'); %>
    </header>
    
    <div>
      <h1>Ricerca</h1>

      <form method="get" action="/ricerca">
          <input type="text" id="città" name="città" placeholder="città">
          <input type="date" id="data" name="data" value="data">
          <input type="number" id="np" name="np" value="np">
          <input type="submit" id="ric" name="ric" value="ricerca">
      </form>
    </div>
    
    <div class="container">
      <button onclick="location.href='/profiloUtente'">Profilo</button>
  </div>
    <% if(isGestore == 1){%>
    <div class="container">
      <button onclick="location.href='/locali'">Gestione locali</button>
    </div>
    <% } %>
</body>

</html>