<!DOCTYPE html>
<html lang="en">



<body style="text-align: center;">   

    <h1 class="h1">RICERCA</h1>
    <%- include('../partials/head'); %>

    <br>
    <table class="a" style="border: none">
      <form method="get" action="/ricerca">
          <div>
              <tr>
                  <td>
                    <input style="width: 70%;" class="b" type="text" id="città" name="città" placeholder="città" required>    
                  </td>
                  <td>
                    <input style="width: 90%;" class="b" type="date" id="data" name="data" value="data" required>
                  </td>
                  <td>
                    <input style="width: 70%;" class="b" type="number" id="np" name="np" value="np" placeholder="numero di persone" required>
                  </td>
              </tr>
          </div>
                    
          <div>
            <tr>
              <td>
                  
              </td>
                  <td>
                      <button type="submit" style="width: 50%; height: 70%;" class="bottone">RICERCA</button>
                  </td>
                <td>
                    
                </td>
            </tr>
          </div>            
      </form>
    </table>
    
</body>

</html>