<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body class="container">
    <!-- <div class="container">
      <button class="btn btn-primary" onclick="stampaUtenti()">Leggi</button>
      <a class="nav-link" href="/api/utenti">Leggi</a>
    </div>
    <div class="container">
      <form action="/api/utenti">
        <input type="submit" value="Leggi"></input>
      </form>
    </div> -->
    <h1 class="h1">Book&Party</h1>
    <header>
        <%- include('../partials/head',{isGestore:2}); %>
    </header><br><br>
    <table class="center" style="width: 100%;">
      <tr>
        <td>
          <a onclick="location.href='/gestioneAccount'">
            <p style="width: 65%; padding:10%" class="bottone">
              GESTIONE ACCOUNT
            </p>
          </a>
        </td>
        <td>
          <a onclick="location.href='/aggiungiTipologia'">
            <p style="width: 60%; padding:10%" class="bottone">
              AGGIUNGI TIPOLOGIA
            </p>
          </a>
        </td>
        <td>
          <a onclick="location.href='/tipologie'">
            <p style="width: 65%; padding:10%" class="bottone">
              ELENCO TIPOLOGIE
            </p>
          </a>
        </td>
        <td>
          <a onclick="location.href='/prenotazioni'">
            <p style="width: 45%; padding: 4%" class="bottone">
              ELENCO PRENOTAZIONI LOCALE
            </p>
          </a>
        </td>
      </tr>
    </table>
</body>

</html>