<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('style'); %>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="center">
    <!-- <div class="container">
      <button class="btn btn-primary" onclick="stampaUtenti()">Leggi</button>
      <a class="nav-link" href="/api/utenti">Leggi</a>
    </div>
    <div class="container">
      <form action="/api/utenti">
        <input type="submit" value="Leggi"></input>
      </form>
    </div> -->
    <div class="padding" style="font-size: 250%; padding-top: 15%;">
      <button class="bottone" onclick="location.href='/login'">Accedi</button>
    </div>
    <div class="padding" style="font-size: 250%;">
      <br>
      <button class="bottone" onclick="location.href='/registrazioneUtente'">Registrati</button>
    </div>
  <script src="scriptForm.js"></script>
</body>

</html>