<!DOCTYPE html>
<html lang="en">


<head>
    <%- include('style'); %>
    <title>Accesso Utente</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="text-align: center;">
    <h1  class="h1" type="text" >ACCESSO UTENTE</h1>
    <table class="a" style="border: none">
        <form action="/api/utenti/login" method="POST">
            <div class="padding">
                <tr>
                    <td>
                        <label for="exampleInputEmail1">Email</label><br>
                        <input style="width: 30%" id="email" class="b" id="exampleInputEmail1" name="email" placeholder="Inserisci Indirizzo Email" required>
                    </td>
                </tr>
            </div>
            
            <div class="padding">
                <tr>
                    <td>
                <label for="exampleInputPassword">Password</label><br>
                <input type="password" style="width: 30%" class="b" id="exampleInputPassword" name="password" placeholder="Inserisci Password" required>
                    </td>
                </tr>            
            </div>
            
            <div class="padding">
                <tr>
                    <td>
                        <br>
                        <button type="submit" class="bottone">Accedi</button>
                    </td>
                </tr>
            </div>            
        </form>
    </table>
  <script src="scriptForm.js"></script>
</body>

</html>