<!DOCTYPE html>
<html lang="en">

<head>
  
</head>

<body class="center">

    <h1  class="h1" type="text" >PROFILO</h1>
    <%- include('../partials/head')%>
<br><br><br>
  <table class="center" style="font-size: 70%; width: 80%;">
    <tr>
      <td>
        <div class="padding">
          <button class="bottone" style="min-width: 40%; max-width: 80%; padding:5%" onclick="location.href='/gestioneAccount'">GESTIONE ACCOUNT</button>
      </div>
      </td>
      <td>
        <div class="padding">
          <button  class="bottone" style="min-width: 40%; max-width: 80%; padding:5%" onclick="location.href='/registrazioneLocale'">REGISTRA LOCALE</button>
      </div>
      </td>
      <td>
        <% if(isGestoreGlobale == 1){%>
          <div class="padding">
              <button class="bottone" style="min-width: 40%; max-width: 80%; padding:5%" onclick="eliminaGestore()">ELIMINA GESTORE</button>
           </div>
      <% } %>
      </td>   
  </tr>
  </table>  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      
        function eliminaGestore(){
          url = '/eliminaGestore';
          console.log("test");
          $.ajax({
            url : url,
            method : 'delete',
            success: function(){
                  document.location.href = "/";
              }
          })
          // document.location.href=url;
        }
    </script>
  
</body>
</html>