<!DOCTYPE html>
<html lang="en">

<head>
  
</head>

<body class="container">


  <div >
    <h1  class="h1" type="text" >PROFILO</h1>
    </div>
    <%- include('../partials/head')%>
<br><br>
  <table class="center" style="font-size: 70%; width: 100%;">
    <tr>
      <td>
        <div class="padding">
          <button class="bottone" style="min-width: 72%; max-width: 80%;" onclick="location.href='/gestioneAccount'">Gestione account</button>
      </div>
      </td>
      <td>
        <div class="padding">
          <button  class="bottone" style="min-width: 80%; max-width: 80%;" onclick="location.href='/registrazioneLocale'">Registra Locale</button>
      </div>
      </td>
      <td>
        <% if(isGestore == 1){%>
          <div class="padding">
              <button class="bottone" style="min-width: 80%; max-width: 80%;" onclick="eliminaGestore()">Elimina Gestore</button>
           </div>
      <% } %>
      </td>   
  </tr>
  </table>  
    <script>
        function eliminaGestore(){
          url = '/eliminaGestore';
          console.log("test");
          $.ajax({
            url : url,
            method : 'delete',
            success: function(){
                  document.location.href = "/";
              }
          })
          // document.location.href=url;
        }
    </script>
  
</body>
</html>