<h1>Ricerca</h1>
<script src="../../server.js"></script>
<form method="get" action="/ricerca">
    <input type="text" id="città" name="città" value="città">
    <input type="date" id="data" name="data" value="data">
    <input type="number" id="np" name="np" value="np">
    <input type="submit" id="ric" name="ric" value="ricerca">
</form>
