<!DOCTYPE html>
<html lang="en">


<body class="container">
  <header>
        <h1 class="h1">SERVIZI</h1>
        <%- include('../partials/head'); %>
    </header>

    <main>homepagelocale
        <div class="row">
            <div class="col-sm-8">
                <div class="well">
                    
                    <%- include("tabellaServizi", {servizi}); %>
                </div>
            </div>
        </div>
    </main>
    <script>
      function idServizio(id_servizio){
        url = '/modificaServizio?id='.concat(id_servizio)
        document.location.href=url;
      }
    </script>
</body>

</html>