

<table class="table table-striped table-dark"><br>
    <thead style="color: purple;" class="thead-dark">
        <tr>
            <th>Nome Tipologia</th>
            <th>Cognome cliente</th>
            <th>Data prenotazione</th>
          </tr>
    </thead>
    <tbody>
        
        <% prenotazioni.forEach(prenotazioni=> { %>
            <tr onclick="location.href='/prenotazioni/prenotazione_spec/<%= prenotazioni.id_prenotazione %>'">
                <td>
                    <%= prenotazioni.nome_tipologia %>
                </td>
                <td>
                    <%= prenotazioni.cognome %>
                </td>
                <td>
                    <%= prenotazioni.data_prenotazione %>
                </td>
               
            </tr>
            <% }) %>
    </tbody>
</table>