<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
  <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="well">
                    <h3>Tipologie</h3>
                    <%- include("tabellaTipologie", {tipologie}); %>
                </div>
            </div>
        </div>
    </main>
    <script>
      function idTipologia(id_tipologia){
        url = '/modificaTipologia?id='.concat(id_tipologia)
        document.location.href=url;
      }
    </script>
</body>

</html>