<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body class="container">

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="well">
                    <h1 class="h1">TIPOLOGIE</h1>
                    <%- include('../partials/head'); %>
                    <%- include("tabellaTipologie", {tipologie}); %>
                </div>
            </div>
        </div>
    </main>
    <script>
      function idTipologia(id_tipologia){
        url = '/modificaTipologia?id='.concat(id_tipologia)
        document.location.href=url;
      }
    </script>
</body>

</html>